<% @user ||= current_user %>
<div class="stats">
  <table summary="User stats">
    <tr>
      <td>
        <a href="<%= following_user_path(@user) %>">
          <span id="following" class="stat">
            seguindo <%= @user.following.count %>
          </span>
        </a>
      </td>
	<tr/>
	<tr>
      <td>
        <a href="<%= followers_user_path(@user) %>">
          <span id="followers" class="stat">
            <%= pluralize(@user.followers.count, "seguidores") %>
          </span>
        </a>
      </td>
    </tr>
  </table>
</div>