<h1>Ajuda</h1>
<p>
  Tutorial de Ajuda sobre o Rails: 
  <a href="http://railstutorial.org/help">Tutorial Rails</a>.<br/>
  Tutorial de Ajuda sobre a Aplicação: 
  <a href="http://railstutorial.org/book">Tutorial Aplicação</a>.
</p>