<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Sobre", about_path %></li>
	  <li><%= link_to "Contatos", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Novo</a></li>
      <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
    </ul>
  </nav>
</footer>